.footer {
    margin-top: 90px;
    border-top: 1px solid #cdc9c9;
}

.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__bottom-left {
    margin: 23px 0;
}

.footer__bottom-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__address {
    margin: 23px 46px 23px 0;
}

.footer__email {
    margin: 23px 46px 23px 0;
}

.footer__phone {
    margin: 23px 0;
}

@media screen and (max-width: @breakpoint-small) {
    .footer__bottom-left {
        margin: 10px 0;
    }
    .footer__address {
        margin: 10px 46px 10px 0;
    }
    .footer__email {
        margin: 10px 46px 10px 0;
    }
    .footer__phone {
        margin: 10px 0;
    }
}