.home-slider {
    position: relative;
    margin-bottom: 100px;
}

.home-slider__desc {
    max-width: 560px;
    padding: 30px 25px;
    background-color: rgba(51, 79, 149, .9);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
}

.home-slider__title {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 2px solid #193069;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}

.home-slider__nav {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
}

.home-slider__nav a {
    background-color: #2e2e2e;
}

.home-slider__nav li.uk-active a {
    background-color: @theme-color-1;
}

.home-slider__arrow {
    background-color: #2e2e2e;
    border-radius: 50%;
}

.home-slider__arrow svg {
    width: 7px;
    height: 20px;
}

.home-slider__more {
    white-space: nowrap;
}

@media screen and (max-width: @breakpoint-medium) {
    .home-slider__nav {
        bottom: -50px;
    }
    .home-slider__desc {
        padding: 20px 15px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .home-slider__title {
        font-size: 18px;
    }
    .home-slider__more {
        font-size: 16px;
    }
}

@media screen and (max-width: @breakpoint-small) {
    .home-slider__title {
        font-size: 16px;
    }
    .home-slider__more {
        font-size: 14px;
    }
}